<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Issues</title>
</head>
<body>
<h1> Table </h1>
<table>
    <tr>
        <th> Book </th>
        <th> Reader </th>
        <th> Time of getting the book </th>
        <th> Book return time </th>
    </tr>
    <tr th:each="issue: ${issues}">
        <td th:text="${issue.getId()}"></td>
        <td th:text="${issue.getId()}"></td>
        <td th:text="${issue.getTimestamp()}"></td>
        <td th:text="${issue.getId()}"></td>
    </tr>
</table>
</body>
</html>